# Ignored data files
data/*

# Gnus
gnus/.imap-authinfo
gnus/.newsrc*
gnus/.nnmail-cache
gnus/News
gnus/Mail

# Main
.emacs.desktop*

# elisp my-host- specific files
elisp/my-host-*.el*

# ELPA packages
elpa
