[submodule "site-elisp/git-modes"]
	path = site-elisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "site-elisp/magit"]
	path = site-elisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-elisp/gnus"]
	path = site-elisp/gnus
	url = http://git.gnus.org/gnus.git
[submodule "site-elisp/muse"]
	path = site-elisp/muse
	url = git://repo.or.cz/muse-el.git
[submodule "site-elisp/emacs-jabber"]
	path = site-elisp/emacs-jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "site-elisp/bbdb"]
	path = site-elisp/bbdb
	url = git://git.savannah.nongnu.org/bbdb.git
[submodule "site-elisp/rscope"]
	path = site-elisp/rscope
	url = https://github.com/rjarzmik/rscope.git
[submodule "site-elisp/device-control"]
	path = site-elisp/device-control
	url = https://github.com/rjarzmik/device-control.git
